params {
    get_covid_cases_py = "/home/bkutambe/Documents/seqbox/covid/get_covid_cases_from_api.py"
    seqbox_cmd_py = "/home/bkutambe/Documents/seqbox/seqbox/src/scripts/seqbox_cmd.py"
    file_inhandling_py = "/home/bkutambe/Documents/seqbox/seqbox/src/scripts/seqbox_filehandling.py"
    make_seqbox_input_py = "/home/bkutambe/Documents/seqbox/covid/make_sequencing_seqbox_input.py"
    infiles = "/home/bkutambe/data/seqbox/infiles"
    minknw = "/var/lib/minknow/data/SARS_CoV2_20210701/no_sample/20210701_1420_MN33881_FAO36609_5c3b1ea9/"
    gpu2_seqbox_config = "/home/bkutambe/Documents/scripts/seqbox_configs/mlw_gpu2_seqbox_config.yaml"
}

env.WORKDIR="/home/bkutambe/data/minion_runs"
env.DATABASE_URL = "${DATABASE_URL}"
env.PYTHONPATH = "${PYTHONPATH}"
env.SEQTRACKER = "/home/bkutambe/data/minion_runs/20210701_1420_MN33881_FAO36609_5c3b1ea9.csv"
env.BATCH = "20210701_1420_MN33881_FAO36609_5c3b1ea9"
env.SEQ_SEQBOX_INPUT_OUTDIR = "/home/bkutambe/data/seqbox/infiles/2022.09.22"
env.SEQBOX_SEQTRACKER = "/home/bkutambe/data/seqbox/infiles/2022.09.22/20210701_1420_MN33881_FAO36609_5c3b1ea9.csv"
env.WORKFLOW="medaka"
env.PROFILE="manual"

process {
  withLabel:guppy {
    container = 'genomicpariscentre/guppy-gpu'
    containerOptions = '--gpus all'
  }

  withLabel:seqbox {
    conda = "/home/bkutambe/miniconda3/envs/seqbox"
  }

  withName:artic {
    conda = "/home/bkutambe/miniconda3/envs/artic_new10"
  }

  withName:pangolin {
    container = "staphb/pangolin"
    containerOptions = ""
  }
}

docker {
	enabled = true
  temp = "${env.WORKDIR}/${env.BATCH}"
  docker.runOptions = '-u $(id -u):$(id -g)'
}