params {
    get_covid_cases_py = "${COVID_SCRIPTS}/get_covid_cases_from_api.py"
    seqbox_cmd_py = "${SEQBOX_SCRIPTS}/seqbox_cmd.py"
    inhandling_py = "${SEQBOX_SCRIPTS}/seqbox_filehandling.py"
    make_seqbox_input_py = "${COVID_SCRIPTS}/make_sequencing_seqbox_input.py"
    artic_covid_medaka_py = "${COVID_SCRIPTS}/artic_covid_medaka.py"
    minknow = "/var/lib/minknow/data/SARS_CoV2_20221118/no_sample/20221118_1354_MN33881_FAO60953_f5b1e628"
    run_dir = "/data/fast/core/minion_runs"
    archive_runs = "/data/slow/core/minion_runs"
    archive_infiles = "/data/slow/core/seqbox/infiles"
    owner = "bkutambe:core"  
}

env.DATABASE_URL = "${DATABASE_URL}"
env.PYTHONPATH = "${PYTHONPATH}"

env.today = new Date().format('yyyy.MM.dd')
env.TODAY_DIR = "/data/fast/core/seqbox/infiles/${env.today}"

env.BATCH = "20221118_1354_MN33881_FAO60953_f5b1e628"
env.SEQTRACKER = "${HOME}/data/minion_runs/20221118_1354_MN33881_FAO60953_f5b1e628.csv"
env.PRIMER_SCHEME_DIRECTORY = "${HOME}/programs/Path_nCoV/reference/primer-schemes"

env.WORKFLOW="medaka"
env.PROFILE="manual"
env.gpu2_seqbox_config = "${HOME}/Documents/scripts/seqbox_configs/mlw_gpu2_seqbox_config.yaml"

process {
  withLabel:guppy {
    container = 'genomicpariscentre/guppy-gpu'
    containerOptions = '--gpus all'
  }

  withLabel:seqbox {
    conda = "${HOME}/miniconda3/envs/seqbox"
  }

  withName:artic {
    conda = "${HOME}/miniconda3/envs/artic_new10"
  }

  withName:pangolin {
    conda = "${HOME}/miniconda3/envs/pangolin"
  }
}

docker {
	enabled = true
  docker.runOptions = '-u $(id -u):$(id -g)'
}
