params {
    add_samples = "/home/bkutambe/Documents/seqbox/covid/add_samples.sh"
    api = "/home/bkutambe/Documents/seqbox/covid/get_covid_cases_from_api.py"
    seq_py = "/home/bkutambe/Documents/scripts/seqbox_cmd.py"
    infiles = "/home/bkutambe/data/seqbox/infiles"
    minknw = "/var/lib/minknow/data/SARS_CoV2_20220620/no_sample/20220620_1115_MN33881_FAQ93003_a6746e26/"
    minruns = "/home/phil/data/minion_runs/20220620_1115_MN33881_FAQ93003_a6746e26"
}

env.DATABASE_URL = "postgresql://postgres:Monaco7@localhost:5432/test_main_db"
env.PYTHONPATH = "/home/bkutambe/Documents/seqbox/seqbox/src"

plugins {
  id 'nf-sqldb@0.4.1'
}

sql {
    db {
        'seq_db' {
              url = 'jdbc:postgresql://localhost:5432/test_main_db'
              user = 'postgres'
              password = 'Monaco7'
            }
    }
}
