params {
    get_covid_cases_py = "${COVID_SCRIPTS}/get_covid_cases_from_api.py"
    seqbox_cmd_py = "${SEQBOX_SCRIPTS}/seqbox_cmd.py"
    inhandling_py = "${SEQBOX_SCRIPTS}/seqbox_filehandling.py"
    make_seqbox_input_py = "${COVID_SCRIPTS}/make_sequencing_seqbox_input.py"
    artic_covid_medaka_py = "${COVID_SCRIPTS}/artic_covid_medaka.py"
    minknow = "/data/fast/core/covid_pipeline/test_data"
    run_dir = "/data/fast/core/test_data/minion_runs"
    archive_runs = "/data/slow/core/test_data/minion_runs"
    archive_infiles = "/data/slow/core/seqbox/test_infiles"
    owner = "bkutambe:core"  
}

env.DATABASE_URL = "${DATABASE_URL}"
env.PYTHONPATH = "${PYTHONPATH}"

env.TODAY = new Date().format('yyyy.MM.dd')
env.FAST_INFILES = "/data/fast/core/seqbox/test_infiles"

env.BATCH = "20210701_1420_MN33881_FAO36609_5c3b1ea9_test"
env.SEQTRACKER = "${params.run_dir}/${env.BATCH}.csv"
env.PRIMER_SCHEME_DIRECTORY = "${HOME}/programs/Path_nCoV/reference/primer-schemes"

env.WORKFLOW="medaka"
env.PROFILE="manual"
env.gpu2_seqbox_config = "/data/fast/core/covid_pipeline/mlw_gpu2_seqbox_config_test.yaml"

process {
  withLabel:guppy {
    container = 'genomicpariscentre/guppy-gpu'
    containerOptions = '--gpus all'
  }

  withLabel:seqbox {
    conda = "${HOME}/miniconda3/envs/seqbox"
  }

  withName:artic {
    conda = "${HOME}/miniconda3/envs/artic_new10"
  }

  withName:pangolin {
    conda = "${HOME}/miniconda3/envs/pangolin"
  }
}

docker {
	enabled = true
  docker.runOptions = '-u $(id -u):$(id -g)'
}
