params {
    get_covid_cases_py = "${COVID_SCRIPTS}/get_covid_cases_from_api.py"
    seqbox_cmd_py = "${SEQBOX_SCRIPTS}/seqbox_cmd.py"
    file_inhandling_py = "${SEQBOX_SCRIPTS}/seqbox_filehandling.py"
    make_seqbox_input_py = "${COVID_SCRIPTS}/make_sequencing_seqbox_input.py"
    artic_covid_medaka_py = "${COVID_SCRIPTS}/artic_covid_medaka.py"
    minknow = "/Users/malcolmorian/Documents/Bioinformatics/Projects2022/Covid_pipeline/test_data/test_20210701_1420_MN33881_FAO36609_5c3b1ea9"
    run = "${HOME}/test_data/minion_runs/test_20210701_1420_MN33881_FAO36609_5c3b1ea9"
    owner = "malcolmorian:staff"  
}

env.DATABASE_URL = "${DATABASE_URL}"
env.PYTHONPATH = "${PYTHONPATH}"

env.today = new Date().format('yyyy.MM.dd')
env.BATCH_RUN_DIR = "${HOME}/test_data/minion_runs/test_20210701_1420_MN33881_FAO36609_5c3b1ea9"
env.SEQ_OUTPUT_DIR = "${HOME}/test_data/seqbox/infiles/${env.today}"

env.BATCH = "test_20210701_1420_MN33881_FAO36609_5c3b1ea9"
env.SEQTRACKER = "${params.run}/test_20210701_1420_MN33881_FAO36609_5c3b1ea9.csv"
env.PRIMER_SCHEME_DIRECTORY = "${HOME}/programs/Path_nCoV/reference/primer-schemes"

env.WORKFLOW="medaka"
env.PROFILE="manual"
env.gpu2_seqbox_config = "${HOME}/Documents/scripts/seqbox_configs/mlw_gpu2_seqbox_config.yaml"

process {
  withLabel:guppy {
    container = 'genomicpariscentre/guppy-gpu'
    cpus = 4 
  }

  withLabel:seqbox {
    conda = "${HOME}/miniconda3/envs/seqbox"
  }

  withName:artic {
    conda = "${HOME}/miniconda3/envs/artic_new10"
  }

  withName:pangolin {
    conda = "${HOME}/miniconda3/envs/pangolin"
  }
}

docker {
	enabled = true
 docker.runOptions = '-u $(id -u):$(id -g)'
}